$TextColor: white;
$ActionStepColor: #79CDCD;
$BackburnerColor: #9A9A9A;

@mixin ActionElement($bgcolor) {
	background: $bgcolor;
	color: $TextColor;

	vertical-align: text-top;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.ActionStep {
	@include ActionElement($ActionStepColor);
	height: 80px;
}

#Backburner {
	@include ActionElement($BackburnerColor);

	height: 130px;
}

#ActionTable {
	width: 100%;
	border-spacing: 5px;
}

#DocumentTable {
	width: 100%;
}


#ActionColumn {
	width: 30%;
	vertical-align: text-top;
}

#NoteColumn {
	vertical-align: text-top;
}
