body {
	background-image: url(background.png);
	background-repeat: repeat;
}

#ActionStep {
	background: #79CDCD;
	color: white;

	vertical-align: text-top;

	height: 80px;
	padding: 5px;

	border-radius: 5px;
	-moz-border-radius: 5px;
}

#ActionTable {
	width: 100%;
	border-spacing: 5px;
}

#DocumentTable {
	width: 100%;
}

#ActionColumn {
	width: 30%;
	vertical-align: text-top;
}

#NoteColumn {
	vertical-align: text-top;
}
