!!!
%html
  %head
    %link{:rel => "stylesheet", :type => "text/css", :href => "ActionTemplate.css"}
  %body
    %table#DocumentTable
      %tr
        %td#NoteColumn
          %p Note
        %td#ActionColumn
          %table#ActionTable
            - 1.upto(11) do
              %tr
                %td.ActionStep
            %tr
              %td#Backburner Backburner:  
